# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
file = "output_data/cities.csv"
df = pd.read_csv(file, encoding='utf-8')
df.head()

,Unnamed: 0,City,Country,Cloudiness (%),Current Temp (F),Date,Humidity,Lat,Long.,Max Temp (F),Wind Speed (mph)
0,0,Ponta do Sol,PT,96,56.53,1/19/2021 23:16,81,32.67,-17.10,61.00,12.91
1,1,Atuona,PF,17,78.24,1/19/2021 23:16,73,-9.80,-139.03,78.24,11.18
2,2,Barrow,US,90,-2.20,1/19/2021 23:16,78,71.29,-156.79,-2.20,21.85
3,3,Saint-Philippe,RE,0,76.14,1/19/2021 23:16,74,-21.36,55.77,80.60,2.30
4,4,Daye,CN,43,45.46,1/19/2021 23:16,59,30.08,114.95,45.46,6.40

In [3]:
print(len(df))

537

In [4]:
df.isnull().values.any()

True

In [5]:
df = df.dropna()
df

,Unnamed: 0,City,Country,Cloudiness (%),Current Temp (F),Date,Humidity,Lat,Long.,Max Temp (F),Wind Speed (mph)
0,0,Ponta do Sol,PT,96,56.53,1/19/2021 23:16,81,32.67,-17.10,61.00,12.91
1,1,Atuona,PF,17,78.24,1/19/2021 23:16,73,-9.80,-139.03,78.24,11.18
2,2,Barrow,US,90,-2.20,1/19/2021 23:16,78,71.29,-156.79,-2.20,21.85
3,3,Saint-Philippe,RE,0,76.14,1/19/2021 23:16,74,-21.36,55.77,80.60,2.30
4,4,Daye,CN,43,45.46,1/19/2021 23:16,59,30.08,114.95,45.46,6.40
...,...,...,...,...,...,...,...,...,...,...,...
532,532,Cayenne,GF,0,75.20,1/19/2021 23:37,94,4.93,-52.33,75.20,12.82
533,533,Beaverlodge,CA,75,33.80,1/19/2021 23:39,93,55.22,-119.44,33.80,40.29
534,534,Kalāleh,IR,0,46.96,1/19/2021 23:39,61,37.38,55.49,46.96,1.54
535,535,Deloraine,AU,0,62.46,1/19/2021 23:39,55,-41.53,146.67,64.00,5.75
536,536,Ürümqi,CN,100,1.40,1/19/2021 23:39,85,43.80,87.60,1.40,4.12

In [6]:
df.dtypes

Unnamed: 0            int64
City                 object
Country              object
Cloudiness (%)        int64
Current Temp (F)    float64
Date                 object
Humidity              int64
Lat                 float64
Long.               float64
Max Temp (F)        float64
Wind Speed (mph)    float64
dtype: object

In [7]:
print(len(df))
df["Lat"] = df["Lat"].astype(float)

533

In [8]:
humidity = df['Humidity'].astype(float)

In [9]:
df.sort_values('Lat')

,Unnamed: 0,City,Country,Cloudiness (%),Current Temp (F),Date,Humidity,Lat,Long.,Max Temp (F),Wind Speed (mph)
16,16,Ushuaia,AR,20,59.00,1/19/2021 23:17,58,-54.80,-68.30,59.00,9.22
99,99,Punta Arenas,CL,0,62.29,1/19/2021 23:18,48,-53.15,-70.92,62.60,6.91
358,358,Río Gallegos,AR,40,60.80,1/19/2021 23:29,51,-51.62,-69.22,60.80,34.52
79,79,Bluff,NZ,95,46.99,1/19/2021 23:18,92,-46.60,168.33,46.99,10.00
27,27,Kaitangata,NZ,100,53.01,1/19/2021 23:17,63,-46.28,169.85,53.01,14.00
...,...,...,...,...,...,...,...,...,...,...,...
182,182,Khatanga,RU,100,-27.17,1/19/2021 23:24,86,71.97,102.50,-27.17,1.54
112,112,Upernavik,GL,100,21.24,1/19/2021 23:19,76,72.79,-56.15,21.24,5.79
71,71,Dikson,RU,94,-20.42,1/19/2021 23:19,89,73.51,80.55,-20.42,9.28
18,18,Qaanaaq,GL,99,2.44,1/19/2021 23:17,72,77.48,-69.36,2.44,7.99
401,401,Longyearbyen,SJ,75,21.20,1/19/2021 23:31,63,78.22,15.64,21.20,14.97

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

locations = df[['Lat', 'Long.']]
humidity = df['Humidity'].astype(float)

In [11]:
humidity

0      81.0
1      73.0
2      78.0
3      74.0
4      59.0
       ...
532    94.0
533    93.0
534    61.0
535    55.0
536    85.0
Name: Humidity, Length: 533, dtype: float64

In [12]:
fig = gmaps.figure(map_type="HYBRID", center=(45, -5), zoom_level=2)

figure_layout = {
    "width": '400px',
    "height": '350px',
    "border": '1px solid black',
    "padding": '1px',
    "margin": '0 auto 0'
    }
gmaps.figure(layout = figure_layout)

markers = gmaps.marker_layer(locations)

try:
    fig.add_layer(markers)
except(TypeError,ValueError):
    pass
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions & drop rows with null values.

### Hotel Map
* Store into variable named hotel_df & add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters using Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame & plot markers on top of the heatmap.

In [14]:
ideal_df = df.loc[(df['Max Temp (F)'] > 68) & (df['Max Temp (F)'] < 76) & (df['Cloudiness (%)'] < 50) & (df['Wind Speed (mph)'] <20)]
ideal_df.head()

,Unnamed: 0,City,Country,Cloudiness (%),Current Temp (F),Date,Humidity,Lat,Long.,Max Temp (F),Wind Speed (mph)
9,9,Rio Grande,BR,0,72.00,1/19/2021 23:16,74,-32.04,-52.10,72.00,11.63
19,19,Cidreira,BR,10,72.52,1/19/2021 23:17,70,-30.18,-50.21,72.52,13.13
38,38,Mar del Plata,AR,0,68.92,1/19/2021 23:18,78,-38.00,-57.56,70.00,10.36
45,45,Miramar,US,1,67.93,1/19/2021 23:18,56,25.99,-80.23,69.01,8.05
55,55,Padang,ID,40,71.60,1/19/2021 23:19,94,-0.95,100.35,71.60,2.30

In [15]:
print(len(ideal_df))

40

In [16]:
for index, row in ideal_df.iterrows():
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
        "radius": 5000,
        "type": "lodging",
        "keyword": "hotel",
        "key" : g_key
        }

    location = row[['Lat', 'Long.']]
    params['location'] = (f'{location[0]}, {location[1]}')
    city_name = row['City']
    
    print(f'Retrieving results for Index {index}: {location[0]}, {location[1]}.')
    
    response = requests.get(url, params=params).json()
    results = response['results']
    
    try:
        print(f'Closest hotel is {results[0]["name"]}.')
        ideal_df.loc[index, 'Nearest_Hotel'] = results[0]["name"]
    
    except(KeyError, IndexError, ValueError):
        print(f'Missing result ...')
                
    print(f'---------------------------')

Retrieving results for Index 9: -32.04, -52.1.
Closest hotel is Laghetto Viverone Rio Grande.
---------------------------
Retrieving results for Index 19: -30.18, -50.21.

C:\Users\qops\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\qops\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel is Hotel Castelo.
---------------------------
Retrieving results for Index 38: -38.0, -57.56.
Closest hotel is Hotel Las Rocas.
---------------------------
Retrieving results for Index 45: 25.99, -80.23.
Closest hotel is Stadium Hotel.
---------------------------
Retrieving results for Index 55: -0.95, 100.35.
Closest hotel is Air Manis Hill Residence.
---------------------------
Retrieving results for Index 100: -3.8, 102.27.
Closest hotel is Mercure Bengkulu.
---------------------------
Retrieving results for Index 114: 1.45, 125.18.
Closest hotel is favehotel Bitung - North Sulawesi.
---------------------------
Retrieving results for Index 126: -26.37, -70.05.
Closest hotel is hotel luna del desierto.
---------------------------
Retrieving results for Index 157: -28.47, -65.79.
Closest hotel is Amerian Catamarca Park Hotel.
---------------------------
Retrieving results for Index 162: -41.87, -73.82.
Closest hotel is Hotel Balai.
---------------------------
Retrieving results for Index 172: 38.42, -121.42.
Closest hotel is Hilton Garden Inn Sacramento Elk Grove.
---------------------------
Retrieving results for Index 219: 7.14, 5.26.
Missing result ...
---------------------------
Retrieving results for Index 252: -38.55, -58.74.
Closest hotel is Hostel La casa de al lado.
---------------------------
Retrieving results for Index 300: 12.89, -86.54.
Closest hotel is Hotel Blanco.
---------------------------
Retrieving results for Index 302: -33.23, -54.38.
Closest hotel is Hotel Treinta y Tres.
---------------------------
Retrieving results for Index 309: 4.41, 114.01.
Closest hotel is Miri Marriott Resort & Spa.
---------------------------
Retrieving results for Index 362: 14.03, -84.59.
Closest hotel is Hotel SAN RAFAEL.
---------------------------
Retrieving results for Index 372: -12.52, -76.74.
Closest hotel is LA CASA DE DON JOAQUIN.
---------------------------
Retrieving results for Index 375: 22.57, 59.53.
Closest hotel is Sur Plaza Hotel.
---------------------------
Retrieving results for Index 392: -34.73, 135.87.
Closest hotel is Marina Hotel.
---------------------------
Retrieving results for Index 403: -23.49, -58.8.
Closest hotel is Hotel Marriot ⭐️⭐️⭐️⭐️.
---------------------------
Retrieving results for Index 412: 9.97, 98.63.
Closest hotel is Sook Hotel.
---------------------------
Retrieving results for Index 415: -35.12, 139.27.
Closest hotel is Balcony On Sixth Lodge.
---------------------------
Retrieving results for Index 427: 18.9, -3.53.
Missing result ...
---------------------------
Retrieving results for Index 430: 9.6, -5.2.
Closest hotel is Hotel Poufiret.
---------------------------
Retrieving results for Index 437: 4.1, 30.68.
Closest hotel is City Link Hotel.
---------------------------
Retrieving results for Index 444: -17.71, -39.25.
Closest hotel is Pousada Liberdade.
---------------------------
Retrieving results for Index 456: 24.7, -77.77.
Closest hotel is Dream Villas.
---------------------------
Retrieving results for Index 458: 36.62, -121.92.
Closest hotel is Hotel 1110.
---------------------------
Retrieving results for Index 466: 25.05, 61.74.
Closest hotel is Victoria Hut.
---------------------------
Retrieving results for Index 480: 4.95, 23.92.
Missing result ...
---------------------------
Retrieving results for Index 483: 12.39, -5.46.
Closest hotel is Hotel Flasso 1.
---------------------------
Retrieving results for Index 501: 16.33, -15.0.
Missing result ...
---------------------------
Retrieving results for Index 507: -29.15, -59.65.
Closest hotel is Grand Hotel.
---------------------------
Retrieving results for Index 508: 12.49, -16.55.
Closest hotel is Oussouye Bed&Breakfast.
---------------------------
Retrieving results for Index 514: -28.78, 32.04.
Closest hotel is BON Hotel Waterfront Richards Bay.
---------------------------
Retrieving results for Index 520: 8.57, 16.08.
Closest hotel is Club du Logone.
---------------------------
Retrieving results for Index 524: -14.47, -48.46.
Closest hotel is Ônix Center Hotel.
---------------------------
Retrieving results for Index 526: 14.89, 5.27.
Closest hotel is Hotel Etab.
---------------------------
Retrieving results for Index 532: 4.93, -52.33.
Closest hotel is Grand Hotel Montabo.
---------------------------

In [17]:
ideal_df.head()

,Unnamed: 0,City,Country,Cloudiness (%),Current Temp (F),Date,Humidity,Lat,Long.,Max Temp (F),Wind Speed (mph),Nearest_Hotel
9,9,Rio Grande,BR,0,72.00,1/19/2021 23:16,74,-32.04,-52.10,72.00,11.63,Laghetto Viverone Rio Grande
19,19,Cidreira,BR,10,72.52,1/19/2021 23:17,70,-30.18,-50.21,72.52,13.13,Hotel Castelo
38,38,Mar del Plata,AR,0,68.92,1/19/2021 23:18,78,-38.00,-57.56,70.00,10.36,Hotel Las Rocas
45,45,Miramar,US,1,67.93,1/19/2021 23:18,56,25.99,-80.23,69.01,8.05,Stadium Hotel
55,55,Padang,ID,40,71.60,1/19/2021 23:19,94,-0.95,100.35,71.60,2.30,Air Manis Hill Residence

In [18]:
hotel_df = ideal_df[['Lat', 'Long.', 'Nearest_Hotel', 'City', 'Country']]
hotel_df.head()
hotel_df.to_csv("output_data/IdealCitiesHotels.csv")

In [19]:
#Check for null values
hotel_df.isnull().values.any()

True

In [20]:
#Drop rows with nulls and re-instantiate dataframe:
hotel_df = hotel_df.dropna()
hotel_df.head()

      Lat   Long.                 Nearest_Hotel           City Country
9  -32.04  -52.10  Laghetto Viverone Rio Grande     Rio Grande      BR
19 -30.18  -50.21                 Hotel Castelo       Cidreira      BR
38 -38.00  -57.56               Hotel Las Rocas  Mar del Plata      AR
45  25.99  -80.23                 Stadium Hotel        Miramar      US
55  -0.95  100.35      Air Manis Hill Residence         Padang      ID

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Nearest_Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long."]]

In [22]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display Map
plt.savefig("Plots/HotelHeatMap.png")
fig

Figure(layout=FigureLayout(height='420px'))